@import url('https://fonts.googleapis.com/css2?family=Itim&family=Merriweather:wght@300&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Maven+Pro&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(193, 50, 150);
    color: aliceblue;
    height: 50px;
    width: 1540px;
    font-size: 26px;
    display: flex;
    align-items: center;
    padding: 0 ;
    margin: 0;
    font-family: 'Itim', cursive;

}

nav ul{
    list-style-type:none;
    margin:0 30px ;
}
.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.Container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.box{
    border: 2px solid black ; 
    font-size: 5vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    background-color: rgb(252, 212, 252);
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Raleway', sans-serif;
}
.imgbox img{
    display: none;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}