body{
    background-image: linear-gradient(128deg,rgb(242, 107, 130),rgb(61, 58, 213));;
}
h1{
    color: brown;
    text-align: center;
}
button{
    background-color: rgba(33, 33, 232, 0.87);
    color: aliceblue;
    height: 30px;
    width: 90px;
    border-radius: 20px;
    border-color: rgba(239, 239, 248, 0.904);
}
.center{
    margin: 221px 59px 31px 477px;
    padding: 12px 12px 12px 30px;
    background-color: white;
    height: 230px;
    width: 330px;
}
